
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;

  color-scheme: light dark;
  background-color: #000000;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Satoshi', sans-serif;
}
.audio svg{

  color:#4ade80;
  font-size: 60px;
  
}
div.scrolling-limit{

  overflow:hidden;
 
  
}

div.scrolling{
  position: relative;
  -webkit-animation: scroll 9s infinite linear;;
  -moz-animation: scroll 9s infinite linear;
  -o-animation: scroll 6s infinite linear;
  animation: scroll 9s infinite linear;
  
}

@keyframes scroll{
    0%   {left: 10px;}
    100% {left: -70px;}
}
@-webkit-keyframes scroll{
    0%   {left: 30px;}
    100% {left: -70px;}
}
.drop{
  backdrop-filter:contrast(60%);
 
}
.covers{
 filter: grayscale(20deg);
}